@tailwind base;
@tailwind components;
@tailwind utilities;
  

/* グローバルに適用したいliのスタイルで、他の多くの場所にも同様のリストスタイルを再利用する場合@layer base に配置。以下のheader ul liは特定の要素に依存しているから@layer baseに入れる必要なし。 */

@layer components{
  .nav-item{
    @apply relative
  }
  .nav-item::before{
    content: "";
    position: absolute;
    bottom: -1px;
    background-color: rgb(201, 201, 201);
    width: 100%;
    height: 1.5px;
    transition: transform 0.25s ease-in-out;
    transform-origin: center;
    transform: scaleX(0);
  }
  .nav-item:hover::before{
    transform: scaleX(1);
  }
}

@layer base{
  a{
    transition:opacity 0.5s 
  }
  a:hover{
    opacity:0.3
  }
}

